pip
setuptools
wheel

fastapi
uvicorn
pydantic
python-dotenv
python-multipart

openai
openai-agents

langchain
langchain-core
langchain-community
langchain-experimental
langchain-openai
langchain-groq
langchain-fireworks
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-prebuilt
langgraph-sdk

supabase
asyncpg
SQLAlchemy

pypdf
python-docx

tiktoken
transformers
torch
sentence-transformers
scikit-learn
numpy
pandas
