asyncpg
beautifulsoup4
email-validator
fastapi
google-auth
google-auth-httplib2
google-auth-oauthlib
httpx
huggingface-hub
langchain
langchain-community
langchain-core
langchain-experimental
langchain-fireworks
langchain-groq
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-prebuilt
langgraph-sdk
murf
openai
openai-agents
passlib
Pillow
pydantic
pydantic-settings
pypdf
python-dotenv
python-jose
python-multipart
PyJWT
qdrant-client
rapidfuzz
requests
starlette
supabase
uvicorn
websockets
pytest
pytest-asyncio
