@import "tailwindcss";

@import "../app/css/fonts.css";

.chat-box::-webkit-scrollbar {
  width: 15px;
}

.chat-box::-webkit-scrollbar-track {
  background: transparent;
}

.chat-box::-webkit-scrollbar-thumb {
  background: #464646;
  width: 20px;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  min-height: 20px; /* this just ensures it's not too small */
}
.chat-box::-webkit-scrollbar-thumb:hover {
  background: #858585;
  width: 20px;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  min-height: 20px; /* this just ensures it's not too small */
}

/* .bg-Kaba {
  background-image: url("../images/Kabah.jpg");
} */

.bg-Quran-2 {
  background-image: url("../images/Quran2.jpg");
}

.bg-roof-top {
  background-image: url("../images/rooftop.jpg");
}

.bg-aqsa {
  background-image: url("../images/Aqsa.jpg");
}

.bg-tadabbur-icon {
  background-image: url("../images/Tadabbur_icon.png");
}
